
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    background: rgb(52,58,64);
    background: linear-gradient(180deg, rgba(52,58,64,1) 0%, rgba(76,84,92,1) 43%, rgba(95,99,103,1) 89%);
}

header{
    width: 100%;
    position: relative;
    top: 0;
      
}

.carousel{
    font-size: 20px;
    
}
.imgcarousel{
    width: 100%;
    height: 650px;
}

.medium-pag{
display: flex;
}

.customfont { 
    font-family: -apple-system, BlinkMacSystemFont; 
    color: white;           
} 
  
.navbar-brand, 
.navbar-text { 
    font-family: -apple-system, BlinkMacSystemFont;
} 
h1{
  font-size: 50px;

}
.animalcare, .header-text,cite{
  text-shadow: 0 0 3px #101010, 0 0 5px #101010;
  font-family: -apple-system, BlinkMacSystemFont; 
}


.contenido-peligrodeextincion{
    font-family: -apple-system, BlinkMacSystemFont; 
}
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }

  .imgpeligro{
    text-align: right;
  }
  
  .contenedor-principal{
    position: relative;
    display: inline;
    text-align: center;
    justify-content: space-between;
  }

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    
}

.texto-encimaizquierda{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  margin: 50px;
}
.texto-encimacentrado{
  position: absolute;
  top: 70px;
  font-size: 30px;
  margin: 50px;
}

  .container{
    padding: 60px;
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;
    object-fit: cover;
    justify-content: space-evenly;
  }

  .img-principal{
    height: 1000px;
    width: 800px;
    border-color: black;
    border-width: 50px;
    margin: 50px;
  }
 

.footer{
  bottom: 0;
  background-color: #101010;
  width: 100%;
  height: 100px;
}
.footer{
  display: flex;
  color: white;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid;
}
/*FOOTER*/


@media (max-width: 768px) 
{
  p
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
}

.footer h4{
  border-bottom: 3px solid white;
}
.titulo-final{
  text-align: center;
  background-color: #101010;
  color: white;
}

.icon{
  width: 40px;
  height: 40px;
  text-align: center;
}

/*galeria de imagenes*/
.gallery {
  padding: 20px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;}


  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;}
  }
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .gallery:hover .overlay {
    opacity: 1;
  }

  /*continentes*/
  * {
    box-sizing: border-box;
  }
  
  .customfontcontinent{
    background-color: #f1f1f1;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont; 
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  h6{
    background-color: black;
    width: 100%;

  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color:#343A40;
    padding: 10px;
    color: white;
  }
  .content-last {
    background-color:#343A40;
    width: 100%;
    padding: 10px;
    color: white;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
    .imgcarousel{
      height: 100% ;
      width: 100% ;
    }
    .footer{
      display: inline;
      background-color: black;
    }
    .contenido-footer{
      background-color: black;
    }
    
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .imgcarousel{
      height: 100%;
      width: 100%;
    }
    .footer{
      display: inline;
      background-color: black;
    }
    .contenido-footer{
      background-color: black;
    }
    
  }

 /*main responsivo*/
.col-text {
  height:20em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
 
  padding-top: 30px;
  padding-bottom: 10px;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
   
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
    font-size: 14px;
  }
}



















  